
body, html {
    height: 100%;
    margin: 0;
}

.bg-home {
    background: url(/img/fundo.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-div {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    color: #fff;
    width: 800px;
    height: 10px;
    font-family: 'Century Schoolbook';
    text-align: center;
}

.hello-world {
    font-size: 14pt;
    bottom: 65%;
    top: 0;
}

.name {
    font-size: 14pt;
    bottom: 45%;
    top: 0;
}

.home-text {
    font-size: 14pt;
    bottom:0;
    top: 0;
}

.feature {
    font-size: 30pt;
    font-family: 'Century Schoolbook';
    font-weight: bold;
}

.anchor {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    width: 100px;
    height: 10px;
    color: #fff;
    text-align: center;
}

.bottom {
    top: 90%;
    bottom: 0;
}

.top {
    top: 105%;
    bottom: 0;
}

.white {
    color: #fff;
}

.black {
    color: black;
}

.bg-about {
    height: 100%;
    color: #fff;
    margin: 0px;
}

.about {
    font-size: 18pt;
    font-family: Arial;
    text-align: center;
    color: black;
}

.margin-left-right {
    margin-left: 15%;
    margin-right: 15%;
}

.about-text {
    color: black;
    font-family: 'Century Schoolbook';
    text-align: left;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}
